@font-face {
  font-family: 'Gotham Round';
  src: url('../libs/fonts/GothamRnd-Light.otf');
}
@font-face {
  font-family: 'Birch';
  src: url('../libs/fonts/BirchStd.otf');
}

html {
  background: -webkit-radial-gradient(#613600, #161313);
  background: -moz-radial-gradient(#613600, #161313);

  /* background: url(images/coffee/WilliamsburgShanghaiRoast.jpg) no-repeat center center fixed; */
  /* -webkit-background-size: cover; */
}
body {
   padding-top: 60px; 
  background: transparent;
  color: #FFF;
  font: 13.34px 'Gotham Round', Helvetica, sans-serif;
  font-size: large;
  text-align: left;
}

.page {
  min-height: 100vh;
  /* padding-top: 50px; */
}
#foreground {
  position: fixed;
  width: 100vw;
  top: 0px;
}
p>img {
  display: block;
  width: 50%;
  overflow: hidden;
  float: right;
  margin: 0px 0px 10px 20px;
}

.light-background {
  color: black;
}
a {
  color: #FFF;
}
b, a:hover, a:active, a:focus {
  color: #ac9166;
  text-decoration: none;
}

/* BUTTONS */
.btn, .btn-primary {
  background-color: rgb(94, 66, 1);
  border-color: transparent;
}
.btn:hover, .btn:focus, .btn-primary:hover, .btn-primary:focus {
  background-color: rgb(168, 114, 0);
  border-color: transparent;
}

/* HEADERS */
b, h1, h2, h3 {
  color: rgb(194, 158, 71);
  text-transform: capitalize;
}
h1 {
  margin-top: 0px;
}
h2 {
  color: #ac9166;
  margin: 0px 0px 30px 0px;
}

/* English header styles */
.en-content h1, .en-content h2 {
  /* font-family: 'Birch'; */
}
.en-content h1 {
  font-size: 400%;
}
.en-content h2 {
  font-size: 200%;
}

/* Chinese header styles */
.ch-content h1, .ch-content h2 {
  font-family:  "微软雅黑", "Microsoft YaHei",  Tahoma , Verdana , Arial , sans-serif;;
}
.ch-content h1 {
  font-size: 360%;
}
.ch-content h2 {
  font-size: 150%;
}


/* Parallax shit */
#scene {
  position: absolute;
  top: 0px;
  left: -5vw;
}
.layer {
}
.layer > img {
  width: 120vw;
  top: 0px;
}
.layer > .color {
  height: 120vh;
  opacity: 0.7;
}
.layer-content > h1 {
  font-size: 400%;
}
.layer-content {
  text-align: center;
  /* left: inherit; */
  top: 150px;
  left: 200px;
  position: absolute;
  width: 80vw;
  /* margin: auto; */
  /* margin-left: 50%; */
  /* width: 1000px; */
}
/* NAVBAR */

.brand {
  margin: 15px 0px;
}
.logo, .logo-text {
  height: 30px;
}
.navbar, .navbar-collapse, .submenu {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(#020202, #1D1D1D);
  z-index: 2;
  background: -moz-linear-gradient(#020202, #1D1D1D);
}
.navbar-lang {
    float: right;
  
    display: inline;
}
.nav {
  text-transform: uppercase;
   font-family: 'Birch', Arial;
 }

.nav>li {
  display: inline;
}

.language-options{
  float: right;
  margin: 40px 10% 0px 0px;
}

.nav>li>a {
  font-family: 'Gotham Round';
}
.nav>li>a:hover, .nav>li>a:focus, .light-background a:hover, a:hover, a:focus  {
  color: #ac9166;
  background-color: transparent;
}
.nav>li>.slash {
  color: #F00;
  display: inline;
}

/* CONTENT */ 
.content {
}
.container {
  min-height: 100%;
}
/* FOOTER */ 
.navbar-fixed-bottom {
  max-height: 100px;
  padding-top: 20px;
}
.footer p {
  font-size: 90%;
  margin-bottom: 5px;
}
/* GALLERY */
.submenu {
  position: fixed;
  top: 50px;
  min-height: initial;
}
.submenu-nav>li {
  float: left;
}
.submenu-nav>li>a {
  font-size: 70%;
  padding: 5px 15px;
}

ul {
  list-style: none;
  /* padding: 10px; */
}
.category-title {
  margin-bottom: 20px;
}
.category-content h1 {
  font-size: 300%;
  /*font-family: 'Gotham Round';*/
}
.category-content h2 {
  font-size: 100%;
  font-family: 'Gotham Round';
  display: inline;
  margin: 20px 20px 20px 0px;
}
.category-image {
  margin-bottom: 20px;
}
.padded {
  background-color: rgba(255, 245, 245, 0);
    
  padding: 20px;
}
.light-background {
  /* background-color: white; */
}
.light-background a{
  /* color: black; */
}
.category-content {
  /* padding: 10px ; */
  /* margin-top: 20px; */
  min-height: 90vh;
}
.image-background {
  width: 100vw;
}
.coffee-entry{
  min-height: 90vh;
  margin-top: 30px;
  /* margin-bottom: 40px; */
  /* background-color: white; */
}
.coffee-title h2, .coffee-text {
  margin-bottom: 20px;
}
.coffee-text, .coffee-title{
  /* padding-right: 20px; */
}
.caption {
  padding: 0px 0px;
}
.coffee-image {
  min-height: inherit;
  /* border-radius: 50px; */
}
.caption>p{
  /* color: black; */
  margin-top: 40px;
}




/* PARALLAX CSS */

.parallax {
  position: fixed;
  overflow: hidden;
}
.parallax img {
  height: inherit;
  z-index: 0;
}
img {
  -webkit-filter: sepia(0.4);
  filter: sepia(0.4);
}
.story {
  margin-top: 20px;
  height: 500px;
}
.story-text {
  background-color: rgba(0, 0, 0, 0.33);
  padding: 15px;
  z-index: 1;
  border-radius: 5px;
}


#someshit img {
  width: 170px;
}
#somelove img {
  width: 300px;
}

/* test coffee cup elements */
#glo-covers {
  height: 400px;
  top: 400px;
}
#glo-labels {
  height: 300px;
  top: 650px;
  right: 20vw;
}

#miss-cover {
  top: 900px;
  right: 10vw;
  height: 600px;
}
#miss-label {
  top: 1200px;
  left: 10vw;
  height: 200px;
}


#polaroid1 {
  height: 300px;
  top: 300px;
}


.center{
  margin-top: 20vh;
  margin-bottom: 30px;
  text-align: center;
}

.center h1{
  font-size: 400%;
}

.float-left{
  float: left;  
  margin: 20px 0 0 5vw;
}

.float-right{
   float: right; 
   margin: 20px 5vw 0 0; 
}

.float-left, .float-right{
  /*padding: 100px 0 0 0;*/
  /*position: relative;*/
  width: 50vw; 
}

/* MOBILE DEVICES */

@media (max-width: 768px) {
  .logo-text, .category-side {
    height: 0;
  }
  .navbar-fixed-bottom, .navbar {
    max-height: 60px;
  }
  .padded {
    /* padding: 0px; */
  }
  .navbar-fixed-bottom {
    padding-top: 10px;
  }
  .logo {
    height: 20px;
    /* width: 40px; */
  }
  .category-content {
  }
  html {
  /* background-color: rgb(49, 32, 0); */
}
  body {
    padding-top: 80px;
    padding-bottom: 60px;
    min-width: 200px;
    font-size: 11px;
    text-align: left;
  }
  .container {
    width: 90%;
  }
  .submenu {
    /* bottom: 1000px; */
  
    z-index: 0;
}
  .submenu-nav>li>a {
    font-size: 70%;
    padding: 0px 10px;
  }
  .center {
    margin-top: 4vh;
  }
  .story {
    height: auto;
  }
  .category-image {
    visibility: hidden;
  }
  .parallax {
    visibility: hidden;
    height: 0px;
  }
  .handwritten img {
    width: 90px;
  }
  .navbar {
    /* margin-bottom: 50px; */
  }
  .story-text {
    background-color: transparent;
  }
}