@font-face {
  font-family: 'Gotham Round';
  src: url('../libs/fonts/GothamRnd-Light.otf');
}
@font-face {
  font-family: 'Birch';
  src: url('../libs/fonts/BirchStd.otf');
}

body {
  padding-top: 120px;
  background-color: #4c1200;
  background: url(../graphic/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  color: #FFF;
  font: 13.34px 'Gotham Round', Helvetica, sans-serif;
  font-size: large;
  text-align: left;
}

p>img {
  display: block;
  width: 100%;
  margin: auto;
}
a {
  color: #FFF;
}
a:hover {
  text-decoration: none;
}
/* HEADERS */

h1, h2, h3 {
  font-family: 'Birch';
  text-transform: capitalize;
}
h1 {
  font-size: 400%;
  margin: 0px 0px 0px 0px;
}
h2 {
  font-size: 200%;
  color: #ac9166;
  margin: 0px 0px 30px 0px;
}


/* NAVBAR */

.brand {
  width: 400px;
}

.mobile-logo {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.desktop-logo {
  margin: 20px auto 0px auto;

}

.navbar {
  background-color: #4c1200;
  background-color: #000;
}

.nav {
  text-transform: uppercase;
  font-family: 'Birch', Arial;
  margin: 20px 0px;
}

.nav>li {
  color: #FFF;
  display: inline;
}

.language-options{
  float: right;
  margin: 40px 10% 0px 0px;
}

.nav>li>a {
  display: inline;
  padding-left: 0px;
  color: #FFF;
  font-family: 'Gotham Round';
}
.nav>li>a:hover, .nav>li>a:focus, a:hover, a:focus  {
  color: #ac9166;;
  background-color: transparent;
}
.nav>li>.slash {
  color: #F00;
  display: inline;
}

/* CONTENT */ 

.container {
  min-height: 100%;
  margin-left: 10%;
  width: 40%;
}
.content {
  margin-top: 80px;
}

/* FOOTER */ 

.footer {
  margin-top: 40px;
}
.footer>.contact>p {
  font-size: 90%;
}
b {
  color: #F00;
}

/* GALLERY */
ul.coffees {
  list-style: none;
}
.coffee-title>h1, .coffee-title>h2 {
  display: inline;
}
.coffee-content {
  margin-bottom: 40px;
}

/* MOBILE DEVICES */

@media (max-width: 750px) {
  .desktop-logo, .desktop-only {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .desktop-only {
    visibility: hidden;
  }
  .mobile-logo {
    visibility: visible;
    height: auto;
    width: 50px;
  }
  .brand {
    max-width: 50px;
    margin: 0px 20px 0px 0px;
    float: left;
  }
  body {
    background: -webkit-radial-gradient(#4c1200, #4c0800); /* For Safari 5.1 to 6.0 */
    background: -webkit-radial-gradient(#5b0061, #161313); /* For Safari 5.1 to 6.0 */
    background: -moz-radial-gradient(#5b0061, #161313); /* For Safari 5.1 to 6.0 */
    padding-top: 70px;
    min-width: 200px;
    font-size: 11px;
    text-align: left;
  }

  img {
    margin-left: 0;
  }
  .content {
    margin-top: 40px;
  }
  .container {
    width: 80%;
  }
  .nav {
    min-width: 360px;
    text-align: left;
  }
  .nav>li>a {
    padding: 4px;
    text-align: left;
  }
  .navbar {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}