<div class="submenu navbar navbar-fixed-top " role="complementary">
	<div class="container">
	<!-- <button type="button" class="submenu-toggle navbar-toggle collapsed" data-toggle="collapse" data-target=".submenu-collapse">
                <span class="sr-only">Toggle submenu navigation</span>
                <span class="glyphicon glyphicon-align-justify"></span>
    </button> -->
    <!-- <div class="submenu-collapse " style="height: 1px;"> -->
    	<ul class="submenu-nav nav navbar-nav">
    		{% for slide in slides %}
    		{% case page.lang %}
    		{% when 'en' %}
    		{% assign name = slide.name-en %}
    		{% when 'ch' %}
    		{% assign name = slide.name-ch %}
            {% else %}
            {% assign name = slide.name %}
    		{% endcase %}
    		<li>
    			<a href="#{{ forloop.index }}" class="short-menu-item"> {{ name }} </a>
    		</li>
    		{% endfor %}
    	</ul>
    <!-- </div> -->
  </div>
</div>