---
layout: default
---

{% assign slides = site.categories['education'] %}

<div class="col-md-9 col-xs-12 category-content padded">

    {% for slide in slides %}

    {% case page.lang %}
    {% when 'en' %}
    {% assign name = slide.name-en %}
    {% assign text = slide.text-en %}
    {% assign tagline = slide.tagline-en %}
    {% when 'ch' %}
    {% assign name = slide.name-ch %}
    {% assign text = slide.text-ch %}
    {% assign tagline = slide.tagline-ch %}
    {% endcase %}

    <div class="row">
        <div class="row category-content padded light-background">
            <div class="col-xs-12 category-title">
                <a id="{{ forloop.index }}" class="category-anchor">
                    <h1>{{ name }}</h1>
                    <!-- <h2>{{ tagline }}</h2> -->
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="caption en-content">
                    <p>{{ text }}</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 category-image">
                <img class="img-responsive" src="images/education/{{ slide.image }}" alt="...">
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="submenu navbar navbar-fixed-top " role="complementary">
    <div class="container">
    <!-- <button type="button" class="submenu-toggle navbar-toggle collapsed" data-toggle="collapse" data-target=".submenu-collapse">
                <span class="sr-only">Toggle submenu navigation</span>
                <span class="glyphicon glyphicon-align-justify"></span>
    </button> -->
    <!-- <div class="submenu-collapse " style="height: 1px;"> -->
        <ul class="submenu-nav nav navbar-nav">
            {% for slide in slides %}
            {% case page.lang %}
            {% when 'en' %}
            {% assign name = slide.name-en %}
            {% when 'ch' %}
            {% assign name = slide.name-ch %}
            {% endcase %}
            <li>
                <a href="#{{ forloop.index }}" class="short-menu-item"> {{ name }} </a>
            </li>
            {% endfor %}
        </ul>
    <!-- </div> -->
  </div>
</div>
