---
layout: default
---

{% assign slides = site.categories['coffee'] %}

<div class="container content 
          {% if page.lang == 'ch' %} 
          ch-content
          {% else %}
          en-content
          {% endif  %}
      ">
        <div class="row">
              
<div class="col-sm-11 col-xs-12 category-content padded">
{% for slide in slides%}

{% case page.lang %}
		{% when 'en' %}
		{% assign name = slide.name-en %}
		{% assign origin = slide.origin-en %}
		{% assign text = slide.text-en %}
		{% when 'ch' %}
		{% assign name = slide.name-ch %}
		{% assign origin = slide.origin-ch %}
		{% assign text = slide.text-ch %}
{% endcase %}

<a id="{{ forloop.index }}" class="category-anchor">
</a>
<div class="row coffee-entry">
	<div class="col-sm-6 col-xs-12 category-title">
		<h1>{{ name }}</h1>
		<h2>
			<span class="glyphicon glyphicon-certificate"></span> {{ slide.code }} 
		</h2>
		<h2>
			<span class="glyphicon glyphicon-globe"></span> {{ origin }} 
		</h2>
		<div class="caption en-content">
			<p>{{ text }}</p>
		</div>
	</div>
	<!-- <div class="col-sm-6 col-xs-12"> -->
	<!-- </div> -->
	<div class="col-sm-6 col-xs-12 category-image thumbnail">
		<img class="img-responsive desktop-only" data-desktop-src="images/coffee/{{ slide.image }}" src="//:0" alt="...">
	</div>
</div>
{% endfor %}
</div>

{% include submenu.html %}

 </div>
</div>