---
layout: default
---

<div class="gallery">
	<ul class="coffees" >
		{% for coffee in site.categories['coffee'] %}
		<li class="container">
			<div class="row coffee-title">
				<h1>{{ coffee.name }}</h1>
				<h2>{{ coffee.code }}</h2>
			</div>
			<div class="row coffee-content">
				<div class="col-lg-12 col-xs-2 coffee-image">
					<img src="images/{{ coffee.image }}"></img>
				</div>
				<div class="col-lg-12 col-xs-10">
					<p>
						Origin:
						<b>{{ coffee.origin }}</b>  
					</p>
					<p>{{ coffee.content }}</p>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
