---
layout: default
---
{% include venuesmap.html %}

<div class="container">
{% assign venues = site.categories['venues'] %}

{% for venue in venues %}
	<a id="{{ forloop.index }}" data-name="{{ venue.name }}" data-lon="{{ venue.coord[0] }}" data-lat="{{ venue.coord[1] }}" class="category-anchor venue-meta">
	</a>
	<div class="row venue" id="venue-{{ forloop.index }}">
		<div class="col-sm-6 col-xs-12 col-sm-offset-6 venue-container">
			<!-- <i class="fa fa-c"></i> -->
			<div class="row">
				<div class="col-sm-6 col-xs-12 venue-content">
					<h1>{{ venue.name }}</h1>
					<h2>Address: {{ venue.address }}</h2>
					<p>{{ venue.content }}</p>
				</div>
				<div class="col-sm-5 col-xs-12 venue-img">
					<img class="img-responsive thumbnail" src="images/venues/{{ venue.image }}"/>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

{% assign slides = site.categories['venues'] %}
<!-- 
<div class="row">
	{% for venue in venues %}
	<div class="col-sm-1 col-xs-3">
		<img class="img-responsive thumbnail" src="images/venues/{{ venue.logo }}"/>
	</div>
	{% endfor %}
</div> -->
</div>
{% include submenu.html %}